<script>{{{compressedData}}}</script>

{{#if error}}
  <main id="mainContent">
    <p>Error: {{error}}</p>
  </main>
{{else}}

<div class="container articleNavigation">
  <div class="row justify-content-between">
   <div class="col-xs-12 col-lg-12"> 
      
        </div>
    </div>
  </div>

<div id="app" class="container">{{{html}}}</div>
{{/if}}
