$black: #000000;
$white: #ffffff;
$light-grey: #d4d4d4;
$dark-grey: #65656c;

%bordered-area {
  border: 1px solid $light-grey;
  border-radius: 0.25rem;
  border-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

%grey-icon-for-table-header {
  height: 1.2em;
  width: 1.2em;
  border: 0.8px solid #fff;
  -webkit-filter: grayscale(1) brightness(88%) contrast(2);
  filter: grayscale(1) brightness(88%) contrast(2);
  margin-left: 0;
  vertical-align: middle;
  visibility: visible;
}

#kth-kursinfo {
  width: 100%;
}
.kursinfo-main-page {
  padding-bottom: 3em;
  width: 100%;
}
nav.main {
  margin-top: 20px;
  a.link-back::before {
    filter: brightness(0%);
    margin-left: 15px;
  }
}
.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 20px;
  margin-bottom: 30px; //change later to 14px, after syllabus details moved

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    [role='heading'] > .t4 {
      margin-top: 4px;
      margin-bottom: 0 !important;
    }
  }

  [role='heading'] {
    display: flex;
    flex-direction: column;
    .t1 {
      margin-bottom: 0;
      margin-left: -0.095em;
    }
    .t4 {
      margin-top: 4px;
      margin-bottom: 20px;
    }
  }
  .alert {
    margin-left: 0;
  }
}

//INTRODUCTION TEXT UNDER KIP-MENU
span.intro-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  p {
    width: 100%;
  }
}

//== COURSE SYLLABUSSES COLLABSIBLE AT RIGHT ==

details.course-syllabuses {
  margin-top: 0 !important;
  margin-bottom: 1.5em;
  @media (min-width: 768px) {
    width: 35em;
    float: right;
  }
  summary + :nth-child(2) {
    margin-top: 0 !important;
  }
  div.collapse-bordered-list {
    padding: 0.5em;
    @extend %bordered-area;
    p {
      margin-bottom: 0;
    }
    a.pdf-link {
      margin: 0;
    }
  }
}

//Links
a.right-link {
  float: right;
  font-weight: normal;
  text-align: right;
}

//== LIST OF COLLAPSIBLE TABLES ==
.list-section-per-year {
  margin: 3em 0;
  h2 {
    margin-top: 38px;
    margin-bottom: 26px;
  }

  .h3-and-link {
    h3 {
      margin-top: 0;
    }
    display: flex;
    flex-direction: column;
    a {
      align-self: flex-start;
      margin: 0.7em 1em;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      a {
        margin: 0;
      }
    }
  }

  & > section:first-of-type > h2 {
    margin-top: 0.7em;
  }

  .right-block-of-links {
    float: left;
    text-align: left;
    margin: 0 0.2em 0;
    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      float: right;
      text-align: right;
      margin: 0;
      p:last-of-type > a {
        margin-right: 0;
      }
    }
  }
}

//Collapsible "Additional information"
.extra-info {
  div {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  @media (min-width: 768px) {
    span.extra-kopps-info-from-kutv-api {
      align-self: flex-start;
      flex-basis: 60%;
      span {
        margin: 0;
      }
    }
    span:last-of-type {
      align-self: flex-start;
      height: 100%;
      margin-left: 3em;
      span {
        margin: 0;
        padding: 0;
      }
    }
  }
}

//===TABLE===
.table th {
  text-align: center;
}
//Table elements  visibility for desktop
.table td {
  .mobile-header-popovers {
    display: none;
  }
}
div.popover.show {
  top: -40px !important;
}

button.desktop.btn-info-modal,
button.mobile.btn-info-modal {
  @extend %grey-icon-for-table-header;
}

/*Table cells try to give it more stable width*/
/* ['responsibles', 'examiners', 'registeredStudents', 'examRounds', 'examinationGrade', 'alterationText']*/
@media (min-width: 768px) {
  .responsibles,
  .examiners {
    min-width: 9em;
    max-width: 9em;
  }
  .examRounds {
    min-width: 9em;
    max-width: 9em;
  }
  .registeredStudents {
    min-width: 8em;
    max-width: 8em;
  }
  .examinationGrade {
    min-width: 7em;
    max-width: 7em;
  }
}
.alterationText {
  word-wrap: break-word;
}

/*Mobile View for Tables*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 767px) {
  /* Force table to not be like tables anymore */
  .table table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table tr {
    border: 1px solid #fff;
  }

  .table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    span.mobile-header-popovers {
      background: $dark-grey;
      color: $white;
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      justify-content: flex-start;
      margin: -0.7em -0.7em 0.3em -0.7em;
      padding: 0.5em;
      vertical-align: bottom;
      label {
        font-weight: 500;
        line-height: 1.2em;
        margin-right: 0.5em;
        white-space: normal;
        width: 100%;
      }
      button {
        align-self: flex-start;
        padding-right: 1em;
      }
    }
  }
}
