@use '~@kth/style/scss/utils/layers.scss';
@use '~@kth/style/scss/utils/reset.scss';
@use '~@kth/style/scss/utils/mixins.scss';
@use '~@kth/style/scss/utils/prose.scss';

@use '~@kth/style/scss/tokens/typography.scss';
@use '~@kth/style/scss/tokens/colors.scss';

@use '~@kth/style/scss/components/logotype.scss';
@use '~@kth/style/scss/components/search.scss';
@use '~@kth/style/scss/components/alert.scss';
@use '~@kth/style/scss/components/footer.scss';
@use '~@kth/style/scss/components/mega-menu.scss';
@use '~@kth/style/scss/components/visually-hidden.scss';
@use '~@kth/style/scss/components/button.scss';
@use '~@kth/style/scss/components/header.scss';
@use '~@kth/style/scss/components/mobile-menu.scss';
@use '~@kth/style/scss/components/menu-item.scss';
@use '~@kth/style/scss/components/menu-panel.scss';
@use '~@kth/style/scss/components/content.scss';
@use '~@kth/style/scss/components/local-navigation.scss';
@use '~@kth/style/scss/components/kpm.scss';

@import 'shared';

#YearAndRounds {
  h2 {
    margin-bottom: 16px;
  }
  h3 {
    margin-top: 32px;
    margin-bottom: 8px;
  }
}

.no-access {
  font-weight: 100;
}

.select-wrapper {
  width: 20em;
}

.ladok-loading-progress-inline {
  color: var(--color-primary);
  margin-top: -20px;
  line-height: 1;
  font-size: 12px;
}

.form-label-with-info-button {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 16px;

  .btn-info-modal {
    margin: 0;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
  }
}

// ----- PAGE 2: FORM ------- //

.upload-text {
  border: 1px solid var(--color-border);
  font-size: 0.875rem;
  padding: 5px;
  border-radius: 5px;
}

.upload-text-wrapper {
  display: inline-flex;
}

.file-progress-bar {
  height: 6px;
  width: 100%;
  display: block;
  border: 1px solid var(--color-border);
  .file-progress {
    height: 5px;
    display: block;
    background: var(--color-primary);
  }
}

.not-valid {
  border: 2px solid var(--color-error) !important;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.popover {
  .popover-header {
    @include typography.font-heading-xs;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 12px;

    span {
      padding: 0.5rem 0;
    }
    button {
      flex-shrink: 0;
    }
  }
}

.copy-btn {
  border-color: #f6f6f6;

  height: 44px;
}

.kth-alert {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

// ----- ICONS ----- //

.kth-icon-button.icon-trash-can {
  &::before {
    background-image: url('https://app.kth.se/style/static/kth-style/img/kth-style/icons/delete-blue.svg');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
.upload-text-wrapper {
  display: inline-flex;
}

.calculate-examination-grade {
  display: flex;
  flex-direction: row;
  div {
    flex-grow: 1;
    &:first-of-type {
      margin-right: 15px;
    }
    &:last-of-type {
      margin-left: 15px;
    }
    input:disabled {
      color: transparent;
    }
  }
}

// Spinner from Bootstrap

.button-container,
.calculate-examination-grade {
  @-webkit-keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
  }

  .spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
  }
}
