// @import "kth-style/public/sass/variables/sizes";
$black: #000000;
$white: #ffffff;
$light-grey: #d4d4d4;
$dark-grey: #65656c;

%bordered-area {
    border: 1px solid $light-grey;
    border-radius: 0.25rem;
    border-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

%table-info-icon-for-popup {
    height: 1.2em; 
    width: 1.2em;
    border: solid .8px $white;
    filter: grayscale(1) brightness(88%) contrast(2);
    &:focus, :hover {
        outline: 0; 
        filter: grayscale(1) brightness(90%) contrast(2);
    }
}

#kth-kursinfo{
    width:100%;
}
.kursinfo-main-page {    
    padding-bottom: 3em;
    padding-top: 2em;
    width: 100%;
}
.courseTitle {
    margin: 0;
    margin-top: 20px;
    h1 {
        margin-bottom: 0;
        margin-left: -.095em;
    }
    h4 {
        margin-top: 0;
    }
    .alert {
        margin-left: 0;
    }
}

.alert {
    max-width: 100em;
    margin: 15px;
    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 0;
    }
}

//== NAVIGATION KIP MENU AT LEFT AND COURSE SYLLABUSSES COLLABSIBLE AT RIGHT ==
span.navigation {
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 1.5em;
    span.right_intro {
        width: 100%;
    }
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        span.right_intro {
            margin-left: 3em;
            max-width: 50em;
        }
    }
}

.kip-menu {
    margin-left: 1.95em;
    margin-right: 1em;
    @media (min-width: 768px) {
        max-width: 30em;
    }
    h4 {
        margin-top: 0;
        margin-bottom: .3em;
    }
    .link-to::after{
      content: '';
      height: 1.5em;
      width: 1.5em;
      display: inline-block;
      margin: -.6em 0 .3em .3em;
      vertical-align: middle;
      background: url(https://app.kth.se/style/kth-style/img/kth-style/icons/pill-back.svg) no-repeat;
      transform: rotate(180deg);
    }
}
//INTRODUCTION TEXT UNDER KIP-MENU
span.intro-text {
    width: 100%;
    p {
        margin-left: 1em;
    }
}

//== LIST OF COLLAPSIBLE TABLES ==
.tables-list {
    margin: 3em 0;
            span.header-with-link {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    h2 {
        margin-top: .7em;
    }
    &>span:first-of-type {
        &>span.header-with-link > h2 {
            margin-top: 0;
        } 
    }
    span.header-with-link {
        display: flex;
        flex-direction: column;
        h2 {
            align-self: flex-start
        }
        a {
            align-self: flex-end;
            margin-top: .5em;
            text-align: right;
        }
        // align-items: flex-end;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            h2, a {
                align-self: baseline;
            }
        }
    }
    .table-for-year > p.right-link {
        margin-top: 1em;
        @media (min-width: 768px) {
            margin: 0;
        }
    }
}
//POPOVERS
p.popOver {
    margin: .2em 0 .2em 0;
}
.popover-body {
    font-family: "Open Sans",Arial,"Helvetica Neue",helvetica,sans-serif;
}
h3.popover-header {
    margin-top: 0 !important;
}
.header-popup {
    border: solid 1px $dark-grey;
}

//REDEFINING COLLAPSE Style

.card.collapsible.blue {
    margin-top: 1em;
    .course-data-title > a::before{
        margin-left: .5em;
    }
    .course-data-title {
        display: flex;
        justify-content: space-between;
    }
}

.card.collapsible.blue.course-plans {
    margin-top: 0 !important;
    margin-bottom: 1.5em;
    margin-left: 1em;
    @media (min-width: 768px){
        margin-left: 10em;
    }
    div.kursplan-bordered-list {
        padding: .5em;
        @extend %bordered-area;
        p {
            margin-bottom: 0;
        }
        a.pdf-link {
            margin: 0;
        }
    }
}
.card.collapsible.blue.course-data-for-round {
    width: 100%;
    margin-bottom: .5em; 
    div.bordered-table {
        @extend %bordered-area;
        margin-bottom: 1.5em;
        padding: 0 .5em .5em .7em;
    }
}
//Links
p.right-link, span.right-links{
    float: right;
    text-align: right;
}

span.right-links {
    float: left;
    text-align: left;
    margin: 1em .2em 0;
    @media (min-width: 768px) {
        p { margin-bottom: 0; }
        display: flex;
        justify-content: flex-end; 
        float: right;
        text-align: right;
        margin: 0;
    }
}

//Kursplan, kurspm, kursanalys links
a.pdf-link {
    margin: 0;
    @media (min-width: 768px) {
        margin: 0 1.5em 0 1em;
    }
    &:before {
        background: url(https://app.kth.se/style/kth-style/img/kth-style/icons/file-pdf-fa-regular.svg) no-repeat;
        content: '';
        display: inline-block;
        height: 1.3em;
        width: 1.3em;
        margin: .5em .4em .6em .4em;
        vertical-align: middle;
    }
}

//Collapsible "More information"
.card.collapsible.white.rubric-list {
  margin-top: -1em;
  .card-body.col.extra-info {
    padding: 1em 0;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        span.extra-kopps-info-from-kutv-api {
            align-self: flex-start;
            flex-basis: 60%;
            span {
                margin: 0;
            }
        }
        span:last-of-type {
            align-self: flex-start;
            height: 100%;
            margin-left: 3em;
            span {
                margin: 0;
                padding: 0;
            }
        }

    }
  }
  &> .card-header.info-rubric {
    background-color: $white;

    a.collapse-header.title{
        color: $black;
        &:before {
          margin-left: -.7em;
          font-size: 16px;
          background: url(https://app.kth.se/style/kth-style/img/kth-style/icons/arrow-black-right.svg) no-repeat;
          background-size: .9em .9em;
        }
    }}
}

//===TABLE===
.table th {
    text-align: center;
}
button.desktop.btn-info-modal, button.mobile.btn-info-modal {
    @extend %table-info-icon-for-popup;
}
//Table elments  visibility for desktop
.table td { 
    .mobile-header-popovers{
        display: none; 
    }
}
button.desktop.btn-info-modal {
    visibility: visible;
}
/*Table cells try to give it more stable width*/
/* ['responsibles', 'examiners', 'registeredStudents', 'examShortAndLongStrArr', 'examinationGrade', 'alterationText']*/
@media (min-width: 768px) {
    .responsibles, .examiners {
        min-width: 9em;
        max-width: 9em;
    }
    .examShortAndLongStrArr {
        min-width: 9em;
        max-width: 9em;
    }
    .registeredStudents {
        min-width: 8em;
        max-width: 8em;
    }
    .examinationGrade {
        min-width: 7em;
        max-width: 7em;
    }
}
.alterationText {
    word-wrap: break-word;
}

/*Mobile View for Tables*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 767px) {
	/* Force table to not be like tables anymore */
	.table table, thead, tbody, th, td, tr { 
        display: flex;
        flex-direction: column; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table thead tr { 
		position: absolute;
		top: -9999px;
        left: -9999px;
	}
	
	.table tr { border: 1px solid #fff; }
	
	.table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #fff; 
        position: relative;
        .mobile-header-popovers {
            background: $dark-grey;
            color: $white;
            display: flex;
            flex-direction: row;
            font-size: 1rem;
            justify-content: flex-start;
            margin: -.7em -.7em .3em -.7em;
            padding: .5em;
            vertical-align: bottom;
            label {
                font-weight: 500;
                line-height: 1.2em;
                margin-right: .5em;
                white-space: normal;
                width: 100%;
            }
            button {
                align-self: flex-start;
                padding-right: 1em;
            }
        }      
	}
}

.archive-page-table {
    th {
        text-align: left;
    }
}

.roundArchiveFilter {
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 30px;
    h4 {
        font-size: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
}